ClienteSistemaMatricula/ClienteSistemaMatricula/Connected Services/RefMateriaService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MateriaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sistema_de_Matricula.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMateriaService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMateriaService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMateriaService_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="IMateriaService_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IMateriaService_Remover_InputMessage">
    <wsdl:part name="parameters" element="tns:Remover" />
  </wsdl:message>
  <wsdl:message name="IMateriaService_Remover_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverResponse" />
  </wsdl:message>
  <wsdl:portType name="IMateriaService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMateriaService/Add" message="tns:IMateriaService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMateriaService/AddResponse" message="tns:IMateriaService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IMateriaService/Buscar" message="tns:IMateriaService_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMateriaService/BuscarResponse" message="tns:IMateriaService_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remover">
      <wsdl:input wsaw:Action="http://tempuri.org/IMateriaService/Remover" message="tns:IMateriaService_Remover_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMateriaService/RemoverResponse" message="tns:IMateriaService_Remover_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndMateria" type="tns:IMateriaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IMateriaService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/IMateriaService/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remover">
      <soap:operation soapAction="http://tempuri.org/IMateriaService/Remover" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MateriaService">
    <wsdl:port name="EndMateria" binding="tns:EndMateria">
      <soap:address location="http://localhost:8733/Materia/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>