ClienteSistemaMatricula/ClienteSistemaMatricula/Connected Services/RefProfessorService/Sistema_de_Matricula.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sistema_de_Matricula.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sistema_de_Matricula.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Professor">
    <xs:sequence>
      <xs:element minOccurs="0" name="GrauAcademico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registro" type="xs:int" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Professor" nillable="true" type="tns:Professor" />
</xs:schema>